.pagination-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.pagintaion-container__button {
    border: 1px solid black;
    border-radius: 2px;
}

.pagination-container__page {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}