.footer {
    color: white;
    background-color: black;
    font-size: 0.75rem;
    text-align: center;
}


.footer--few-favorites {
    position: absolute;
    bottom: 0;
}
@media only screen and (min-width: 1000px) {
}