.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__button {
    font-size: 0.75rem;
    border-radius: 2px;
}

.navbar__button--favorites {
    font-size: 0.75rem;
    border-radius: 2px;
    background-color: black;
    color: #D6D1D1;
}