.image-component {
    margin-bottom: 3.5rem;
    padding: 0 1.5rem;
}

.image-component__image-container {
    display: flex;
    justify-content: center;
}

.image-component__image {
    width: 295px;
    height: 280px;
    margin-bottom: 0.5rem;
}

.image-component__buttons__favorite,
.image-component__buttons__download,
.image-component__buttons__edit {
    font-size: 18px;
}

.image-component__author {
    margin-bottom: 0.5rem;
}